@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #149dcc;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #149dcc;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #149dcc;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qQ4c2ynXsT .navbar {
  padding: .5rem 0;
  background: #232323;
  transition: none;
  min-height: 77px;
}
.cid-qQ4c2ynXsT .navbar-dropdown.bg-color.transparent.opened {
  background: #232323;
}
.cid-qQ4c2ynXsT a {
  font-style: normal;
}
.cid-qQ4c2ynXsT .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qQ4c2ynXsT .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qQ4c2ynXsT .nav-item:focus,
.cid-qQ4c2ynXsT .nav-link:focus {
  outline: none;
}
.cid-qQ4c2ynXsT .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qQ4c2ynXsT .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qQ4c2ynXsT .menu-logo {
  margin-right: auto;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu {
  background: #232323;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qQ4c2ynXsT .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qQ4c2ynXsT .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qQ4c2ynXsT button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qQ4c2ynXsT button.navbar-toggler:focus {
  outline: none;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQ4c2ynXsT .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qQ4c2ynXsT .collapsed .btn {
  display: flex;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qQ4c2ynXsT .collapsed button.navbar-toggler {
  display: block;
}
.cid-qQ4c2ynXsT .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qQ4c2ynXsT .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qQ4c2ynXsT .navbar-expand {
    flex-direction: column;
  }
  .cid-qQ4c2ynXsT img {
    height: 3.8rem !important;
  }
  .cid-qQ4c2ynXsT .btn {
    display: flex;
  }
  .cid-qQ4c2ynXsT button.navbar-toggler {
    display: block;
  }
  .cid-qQ4c2ynXsT .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qQ4c2ynXsT .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qQ4c2ynXsT .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing,
  .cid-qQ4c2ynXsT .navbar-collapse.show {
    display: block !important;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-nav,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-buttons,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qQ4c2ynXsT .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qQ4c2ynXsT .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qQ4c2ynXsT .navbar-collapse {
  flex-basis: auto;
}
.cid-qQ4c2ynXsT .nav-link:hover,
.cid-qQ4c2ynXsT .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-qQ4c2zd3G8 {
  background-image: url("/images/ecc2-5-2000x1125.png");
}
.cid-qQ9mh9pVrV {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #181818;
}
.cid-qQ9mh9pVrV .mbr-section-subtitle {
  color: #767676;
}
.cid-qQ9mh9pVrV .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-qQ9mh9pVrV .mbr-text {
  color: #767676;
}
.cid-qQ9mh9pVrV .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-qQ9mh9pVrV .mbr-author-name {
  color: #767676;
}
.cid-qQ9mh9pVrV .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-qQ9mh9pVrV .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-qQ9mh9pVrV .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-qQ9mh9pVrV .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-qQ9mh9pVrV .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-qQ9mh9pVrV .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-qQ9mh9pVrV H2 {
  color: #efefef;
}
.cid-qQfdJuyOIg {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("/images/code-1-1200x900.png");
}
.cid-qQfdJuyOIg h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qQfdJuyOIg p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-qQfdJuyOIg .card-img {
  text-align: left;
  background-color: #ffffff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 3rem 2.5rem 0 2.5rem;
}
.cid-qQfdJuyOIg .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qQfdJuyOIg .card-box {
  padding: 0rem 2.5rem 3rem 2.5rem;
  background-color: #ffffff;
}
.cid-qQ4c2zKL2i {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #181818;
}
@media (max-width: 767px) {
  .cid-qQ4c2zKL2i .content {
    text-align: center;
  }
  .cid-qQ4c2zKL2i .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-qQ4c2zKL2i .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-qQ4c2zKL2i .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-qQ4c2zKL2i .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-qQ4c2zKL2i .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qQ4c2zKL2i .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qQ4c2zKL2i .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qQ4c2zKL2i .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qQ4c2zKL2i .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qQ4c2zKL2i .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qQ4c2zKL2i .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qQ4c2zKL2i .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qQ4c2ynXsT .navbar {
  padding: .5rem 0;
  background: #232323;
  transition: none;
  min-height: 77px;
}
.cid-qQ4c2ynXsT .navbar-dropdown.bg-color.transparent.opened {
  background: #232323;
}
.cid-qQ4c2ynXsT a {
  font-style: normal;
}
.cid-qQ4c2ynXsT .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qQ4c2ynXsT .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qQ4c2ynXsT .nav-item:focus,
.cid-qQ4c2ynXsT .nav-link:focus {
  outline: none;
}
.cid-qQ4c2ynXsT .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qQ4c2ynXsT .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qQ4c2ynXsT .menu-logo {
  margin-right: auto;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu {
  background: #232323;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qQ4c2ynXsT .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qQ4c2ynXsT .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qQ4c2ynXsT button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qQ4c2ynXsT button.navbar-toggler:focus {
  outline: none;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQ4c2ynXsT .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qQ4c2ynXsT .collapsed .btn {
  display: flex;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qQ4c2ynXsT .collapsed button.navbar-toggler {
  display: block;
}
.cid-qQ4c2ynXsT .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qQ4c2ynXsT .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qQ4c2ynXsT .navbar-expand {
    flex-direction: column;
  }
  .cid-qQ4c2ynXsT img {
    height: 3.8rem !important;
  }
  .cid-qQ4c2ynXsT .btn {
    display: flex;
  }
  .cid-qQ4c2ynXsT button.navbar-toggler {
    display: block;
  }
  .cid-qQ4c2ynXsT .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qQ4c2ynXsT .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qQ4c2ynXsT .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing,
  .cid-qQ4c2ynXsT .navbar-collapse.show {
    display: block !important;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-nav,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-buttons,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qQ4c2ynXsT .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qQ4c2ynXsT .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qQ4c2ynXsT .navbar-collapse {
  flex-basis: auto;
}
.cid-qQ4c2ynXsT .nav-link:hover,
.cid-qQ4c2ynXsT .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-qQmrBoj8bU {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qQmrBoj8bU .title {
  margin-bottom: 2rem;
}
.cid-qQmrBoj8bU .mbr-section-subtitle {
  color: #767676;
}
.cid-qQmrBoj8bU a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qQmrBoj8bU a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qQmrBoj8bU .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qQmrBoj8bU .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qQ4c2ynXsT .navbar {
  padding: .5rem 0;
  background: #232323;
  transition: none;
  min-height: 77px;
}
.cid-qQ4c2ynXsT .navbar-dropdown.bg-color.transparent.opened {
  background: #232323;
}
.cid-qQ4c2ynXsT a {
  font-style: normal;
}
.cid-qQ4c2ynXsT .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qQ4c2ynXsT .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qQ4c2ynXsT .nav-item:focus,
.cid-qQ4c2ynXsT .nav-link:focus {
  outline: none;
}
.cid-qQ4c2ynXsT .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qQ4c2ynXsT .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qQ4c2ynXsT .menu-logo {
  margin-right: auto;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu {
  background: #232323;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qQ4c2ynXsT .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qQ4c2ynXsT .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qQ4c2ynXsT button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qQ4c2ynXsT button.navbar-toggler:focus {
  outline: none;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQ4c2ynXsT .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qQ4c2ynXsT .collapsed .btn {
  display: flex;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qQ4c2ynXsT .collapsed button.navbar-toggler {
  display: block;
}
.cid-qQ4c2ynXsT .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qQ4c2ynXsT .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qQ4c2ynXsT .navbar-expand {
    flex-direction: column;
  }
  .cid-qQ4c2ynXsT img {
    height: 3.8rem !important;
  }
  .cid-qQ4c2ynXsT .btn {
    display: flex;
  }
  .cid-qQ4c2ynXsT button.navbar-toggler {
    display: block;
  }
  .cid-qQ4c2ynXsT .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qQ4c2ynXsT .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qQ4c2ynXsT .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing,
  .cid-qQ4c2ynXsT .navbar-collapse.show {
    display: block !important;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-nav,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-buttons,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qQ4c2ynXsT .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qQ4c2ynXsT .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qQ4c2ynXsT .navbar-collapse {
  flex-basis: auto;
}
.cid-qQ4c2ynXsT .nav-link:hover,
.cid-qQ4c2ynXsT .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-qQmw691pDF {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qQmw691pDF .title {
  margin-bottom: 2rem;
}
.cid-qQmw691pDF .mbr-section-subtitle {
  color: #767676;
}
.cid-qQmw691pDF a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qQmw691pDF a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qQmw691pDF .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qQmw691pDF .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qQUylfdYpS {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("/images/salon-angle-1200x675.jpg");
}
.cid-qQUylfdYpS H2 {
  color: #ff3366;
}
.cid-qQUylfdYpS .mbr-section-subtitle {
  color: #ff3366;
}
.cid-qQ4c2ynXsT .navbar {
  padding: .5rem 0;
  background: #232323;
  transition: none;
  min-height: 77px;
}
.cid-qQ4c2ynXsT .navbar-dropdown.bg-color.transparent.opened {
  background: #232323;
}
.cid-qQ4c2ynXsT a {
  font-style: normal;
}
.cid-qQ4c2ynXsT .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qQ4c2ynXsT .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qQ4c2ynXsT .nav-item:focus,
.cid-qQ4c2ynXsT .nav-link:focus {
  outline: none;
}
.cid-qQ4c2ynXsT .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qQ4c2ynXsT .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qQ4c2ynXsT .menu-logo {
  margin-right: auto;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu {
  background: #232323;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qQ4c2ynXsT .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qQ4c2ynXsT .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qQ4c2ynXsT button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qQ4c2ynXsT button.navbar-toggler:focus {
  outline: none;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQ4c2ynXsT .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qQ4c2ynXsT .collapsed .btn {
  display: flex;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qQ4c2ynXsT .collapsed button.navbar-toggler {
  display: block;
}
.cid-qQ4c2ynXsT .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qQ4c2ynXsT .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qQ4c2ynXsT .navbar-expand {
    flex-direction: column;
  }
  .cid-qQ4c2ynXsT img {
    height: 3.8rem !important;
  }
  .cid-qQ4c2ynXsT .btn {
    display: flex;
  }
  .cid-qQ4c2ynXsT button.navbar-toggler {
    display: block;
  }
  .cid-qQ4c2ynXsT .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qQ4c2ynXsT .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qQ4c2ynXsT .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing,
  .cid-qQ4c2ynXsT .navbar-collapse.show {
    display: block !important;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-nav,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-buttons,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qQ4c2ynXsT .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qQ4c2ynXsT .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qQ4c2ynXsT .navbar-collapse {
  flex-basis: auto;
}
.cid-qQ4c2ynXsT .nav-link:hover,
.cid-qQ4c2ynXsT .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-qQPL05hgUW {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-qQPL05hgUW h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qQPL05hgUW p {
  color: #767676;
  text-align: left;
}
.cid-qQPL05hgUW .card-box {
  padding-top: 2rem;
}
.cid-qQPL05hgUW .card-wrapper {
  height: 100%;
}
.cid-qQUJc9T7mg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("/images/sala1-1200x596.jpg");
}
.cid-qQUJc9T7mg H2 {
  color: #f7ed4a;
}
.cid-qQUJc9T7mg .mbr-section-subtitle {
  color: #f7ed4a;
}
.cid-qQ4c2ynXsT .navbar {
  padding: .5rem 0;
  background: #232323;
  transition: none;
  min-height: 77px;
}
.cid-qQ4c2ynXsT .navbar-dropdown.bg-color.transparent.opened {
  background: #232323;
}
.cid-qQ4c2ynXsT a {
  font-style: normal;
}
.cid-qQ4c2ynXsT .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qQ4c2ynXsT .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qQ4c2ynXsT .nav-item:focus,
.cid-qQ4c2ynXsT .nav-link:focus {
  outline: none;
}
.cid-qQ4c2ynXsT .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qQ4c2ynXsT .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qQ4c2ynXsT .menu-logo {
  margin-right: auto;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qQ4c2ynXsT .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu {
  background: #232323;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qQ4c2ynXsT .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qQ4c2ynXsT .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qQ4c2ynXsT .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qQ4c2ynXsT .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qQ4c2ynXsT .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qQ4c2ynXsT button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qQ4c2ynXsT button.navbar-toggler:focus {
  outline: none;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qQ4c2ynXsT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qQ4c2ynXsT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQ4c2ynXsT .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qQ4c2ynXsT .collapsed .btn {
  display: flex;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qQ4c2ynXsT .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qQ4c2ynXsT .collapsed button.navbar-toggler {
  display: block;
}
.cid-qQ4c2ynXsT .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qQ4c2ynXsT .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qQ4c2ynXsT .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qQ4c2ynXsT .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qQ4c2ynXsT .navbar-expand {
    flex-direction: column;
  }
  .cid-qQ4c2ynXsT img {
    height: 3.8rem !important;
  }
  .cid-qQ4c2ynXsT .btn {
    display: flex;
  }
  .cid-qQ4c2ynXsT button.navbar-toggler {
    display: block;
  }
  .cid-qQ4c2ynXsT .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qQ4c2ynXsT .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qQ4c2ynXsT .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing,
  .cid-qQ4c2ynXsT .navbar-collapse.show {
    display: block !important;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-nav,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-buttons,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qQ4c2ynXsT .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qQ4c2ynXsT .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qQ4c2ynXsT .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qQ4c2ynXsT .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qQ4c2ynXsT .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qQ4c2ynXsT .navbar-collapse {
  flex-basis: auto;
}
.cid-qQ4c2ynXsT .nav-link:hover,
.cid-qQ4c2ynXsT .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-qQQ9ko3TDv {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qQQ9ko3TDv .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qQQ9ko3TDv .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qQQ9ko3TDv .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qQQ9ko3TDv .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qQQ9ko3TDv .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qQQ9ko3TDv .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-qQQ9ko3TDv .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-qQQ9ko3TDv .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-qQQ9ko3TDv .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-qQTVZ0WM7h {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fafafa;
}
.cid-qQTVZ0WM7h h3 {
  text-align: center;
  font-weight: 300;
}
.cid-qQTVZ0WM7h .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-qQTVZ0WM7h .mbr-section-subtitle {
  color: #767676;
}
.cid-qQTVZ0WM7h .card {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-qQTVZ0WM7h ellipse {
  stroke: rgba(206, 206, 206, 0.4);
}
.cid-qQTVZ0WM7h path {
  stroke: #ff3366;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-qQTVZ0WM7h .card {
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
  }
}
.cid-qR269XJLML {
  background-image: url("/images/ecc2-1-2000x1125.png");
}
.cid-qR269XJLML .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-qR269XJLML .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-qR269XJLML .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-qR269XJLML .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-qR269XJLML .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-qR269XJLML a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-qR269XJLML a.close:hover {
  color: #ffffff;
}
